#geo_left_panel {
 float:left;
 display:block;
 width:280px;
}

#geo_ds_list {
 float:left;
 margin-top:10px;
 display:block;
 width:280px;
 height:400px;
 /*border:1px dotted;*/
 overflow:auto;
}
/*
.GSEremove {
 width:20px;
 height:10px;
}

.GSEgoTo {
 width:25px;
 height:10px;
}
*/

.DSLine {
 height:30px;
 /*border-bottom:1px dashed #c0c0c0;*/
 line-height:30px;
}

.DSLine img {
 margin-left:5px;
 margin-top:5px;
 width:15px;
}

.DSLine button {
 margin-left:5px;
}

/*.DSLine:hover {
 background:#baf7a6;
}*/

.GSEname {
 margin-left:5px;
 margin-right:5px;
 float:left;
 width:90px;
}

#GPLlist {
 float:left;
 display:block;
 width:600px;
 margin:10px;
}

.GPLitem{
 float:left;
 display:block;
 margin:10px;
 margin-top:5px;
}

.GPLused {
 float:left;
 width:5px;
 margin-right:15px;
}

.GPLid {
 float:left;
 width:80px;
}

.GPLlongName {
 float:left;
 width: 400px;
 margin-left:5px;
 font-size:12px;
}

#addDS {
 margin-top:10px;
 margin-bottom:10px;
}

#DSdialog, #DSrmDialog {
 display:none;
 float:left;
}

#DSin {
 width:300px;
 height:300px; 
}

#geoDicform {
 float:left;
 margin:10px;
 margin-top:10px;
 width:300px;
 border:1px dotted;
}

#savedict {
 width:120px;
 margin-top:50px;
 margin-left:150px
}

#id_response, #id_event_tot, #id_surv_tot, #id_event_rec, #id_surv_rec, #id_cell_type, #id_age, #id_gender, #id_grade, #id_stage, #id_treatment, #id_subtype, #id_disease, #id_incl_criteria {
 float:right;
 margin-right:10px;
}

#leftDiv {
 width:350px;
 min-height:400px;
 float:left;
}
#backToList {
 margin:10px;
}

#DSmeta {
 float:left;
 width:500px;
}

#DStitle {
 float:left;
 padding:10px;
 margin:10px;
 width:400px;
 background:#E6E6FA;
}

#GEOview{
 float:left;
 padding:10px;
 margin:10px;
 width:150px;
 background:#86979C;
 text-align:center;
 font-variant: small-caps;
}

#DSsumm {
 float:left;
 padding:10px;
 margin:10px;
 width:500px;
 height:200px;
 background:#F0E68C;
 overflow-y: hidden;
 overflow:auto;
}

#GSEnChann {
 float:left;
 padding:10px;
 margin:10px;
 width:400px;
 background:#86979C;
 text-align:left;
 font-variant: small-caps;
}
.GPLplatform {
 font-size:12px;
 font-variant: normal;
 margin:3px;
 padding:3px;
 border: 1px solid;
}

#GSEnGSM {
 float:left;
 padding:10px;
 margin:10px;
 width:150px;
 background:#EEE8AA;
 text-align:center;
 font-variant: small-caps;
}

#viewChar {
 float:left;
 padding:10px;
 margin:10px;
 width:20px;
 height:20px;
}

#Dictmenu {
 display:none;
 width:120px;
 /*z-index:2000;*/
}

#CharTab {
 display:none;
}

#dictTable {
 display:none;
}

#char_table {
 margin:10px;
 display:block;
 float:left;
 width:2560px;
/*
background-color:#eee;
border:1px solid  #666666;
border-spacing:5px;
border-collapse:separate;*/
}

#dict_table {
 margin:10px;
 display:block;
 float:left;
 width:1024px;
}

.cellTitle {
 float:left;/*fix for  buggy browsers*/
 display:block;
 width:120px;
 height:45px;
 overflow:auto;
 border:1px dotted;
 margin:1px;
 font-size:12px;
 text-align:center;
 background:#EEE8AA;
}

.cellTitle:hover {
 background:#F0E68C;
}

.cell {
 float:left;/*fix for  buggy browsers*/
 display: block;
 width:120px;
 height:35px;
 border:1px dotted;
 margin:1px;
 font-size:12px;
 overflow:auto;
 background-color:#E6E6FA;
 text-align:center;
}

.tab_row  {
 display: table-row;
 width:100%;
}

#meta_info {
 float:left;
 display:block;
 min-height:30px;
 width:70%;
 min-width:1024px;
}

#meta_info p {
 margin:10px;
 font-size:18px;
}

#viewDict {
 display:inline;
 margin-left:5px;
 width:18px;
 height:18px;
}

#viewer_head{
 float:left;
 display:block;
 width:70%;
 min-width:1024px;
 min-height:130px;
}

#choose_plat {
 margin:10px;
 width:120px;
 padding:5px;
 float:left;
 display:block;
}

.n_samples{
 float:right;
 display:block;
 width:30px;
 height:20px;
 margin:0px;
}

#choose_gene {
 float:left;
 display:block;
 width:310px;
 min-height:80px;
}

#annot_column {
 float:left;
 display:block;
 margin:10px;
 margin-right:0px;
 margin-bottom:3px;
 width:120px;
 height:32px;
 padding:5px;
}

#gene_id {
 float:left;
 display:block;
 margin:10px;
 margin-left:0px;
 margin-bottom:3px;
 width:150px;
 height:32px;
 padding:5px;
}

#unique_probe_menu {
 float:left;
 display:block;
}

#unique_probe {
 float:left;
 display:block;
 margin:10px; 
}

#toggleProbes {
 float:left;
 display:block;
 margin:10px;
 width:80px;
 height:50px;
}

#selected_probe { 
 float:left;
 display:block;
 padding:5px;
 min-width:250px;
 text-align:center;
}

#selected_warning { 
 float:left;
 display:block;
 padding:5px;
 min-width:250px;
 text-align:center;
}

#selected_chip {
 float:left;
 display:block;
 margin:10px;
 margin-top:1px;
 font-size: 12px;
}

#viewerButtons {
 float:left;
 display:block;
 width:70%;
 min-width:1024px;
 height:400px
 margin:10px;
}

#choose_analysis {
 float:left;
 display:block;
 margin:10px;
 width:220px;
 height:220px;
}

#analysis_menu{
 float:left;
 display:block;
 width:220px;
 height:40px;
}

/* Kaplan Meier Option */

#analysis_snippet {
 float:left;
 display:block;
 text-align:center;
 margin:10px;
}

#kmlines button {
 float:left;
 display:block;
 margin:10px;
 width:80px;
 height:60px;
}

#show_opts {
 float:left;
 display:block;
 min-height:15px;
 width:200px;
}

#add_options {
 float:left;
 display:block;
}

#kmlines_opts {
 display:none;
}

.kmlines_opt {
 display:block;
 float:left;
 width:180px;
 margin-bottom:10px;
 margin-left:10px;
}

.kmlines_opt_title {
 display:block;
 float:left;
 width: 50px;
 height:50px;
 line-height:25px;
}

#slider_val {
 float:right;
 width:80px;
 margin:10px;
 margin-left:3px;
}

#prop_slider {
 float:right;
 display:block;
 width:80px;
 margin:10px;
 margin-left:3px;
}
/* ROC and beeswarm Option */

#roc_info {
 float:right;
 display:block;
 margin:10px;
 height:30px;
 line-height:30px;
 width:150px;
}

#ROC_infos{
 float:left;
 display:block;
 margin:10px;
 text-align:left;
}

#do_analysis {
 float:left;
 display:block;
 margin:10px;
 margin-top:80px;
 width:70;
 height:50;
}

#send_tosocket {
 display:none;
}

#results_viewer {
 float:left;
 display:none;
 width:70%;
 min-width:1024px;
 height:420px;
}

#results_viewer img {
 width:800px;
 height:400px;
 margin:10px;
}

#image_actions {
 float:right;
 display:block;
 margin:10px;
}

#image_actions button {
 float:left;
 display:block;
 width:80px;
 height:30px;
 font-size:9px;
 text-align:center;
}
