{% extends 'base.html' %}

 {% block extahead %}
  <link type="text/css" rel="stylesheet" href="/media/css/geo.css" />
  <script type="text/javascript" src="/media/js/lib/json2.js"></script>
  <script type="text/javascript" src="/media/js/geo_admin.js"></script>
  <script type="text/javascript">
   history.navigationMode = 'compatible';
   doAfter = function(time, f) {
     setTimeout(f, time);
   };
   $(document).ready(function() {
    $('#contents').css('display', 'none');
    doAfter(50,function () {
     initGEO();
    });
    $('#contents').fadeIn(600);
   });
  </script>
 {% endblock %}

{% block title %}
Ocelot admin
{% endblock %}

 {% block nav-admin %}
 <a id='nav-admin' class='selected' href='/admin/'>admin</a>
 {% endblock %}

{% block contents %}
 

 <div id='geo_left_panel'>
  <div id='geo_ds_list'>
   {% for ds in d_saved %}
    <div class='DSLine ui-corner-all ui-widget-content'>
     <div class='GSEname'>{{ ds.dataset }}
     </div> <!-- GSEname -->
     <button type='button' onclick="removeDS('{{ ds.dataset }}')" class='ui-button ui-button-icon-only ui-widget ui-state-default ui-corner-all' title='Remove {{ ds.dataset }} from the list'>
      <span class='ui-button-icon-primary ui-icon ui-icon-trash'></span>
      <span class="ui-button-text">Remove</span>
     </button>
     <button type='button' onclick="goToGSE('{{ ds.dataset }}')" class='ui-button ui-button-icon-only ui-widget ui-state-default ui-corner-all' title='View {{ ds.dataset }} details'>
      <span class='ui-button-icon-primary ui-icon ui-icon-zoomin'></span>
      <span class='ui-button-text'>GoTo</span>
     </button>
     <img src='/media/css/img/{{ ds.parsed }}.png' title='Parsing status: {{ ds.parsed }}'/>
     {% if ds.parsed == 'OK'%}
     <button type='button' onclick="publishGSE('{{ ds.dataset }}')" class='ui-button ui-button-icon-only ui-widget ui-state-default ui-corner-all' title='Publish {{ ds.dataset }} in the main index'>
      <span class='ui-button-icon-primary ui-icon ui-icon-check'></span>
      <span class='ui-button-text'>GoTo</span>
     </button>
     <img src='/media/css/img/{{ ds.indexed }}.png' title='Indexed status: {{ ds.indexed }}'/>
     {% else %}{% if ds.parsed == 'NO' %}
     <button type='button'  disabled='disabled' class='ui-button ui-button-icon-only ui-widget ui-state-default ui-corner-all' title="It's not possible to publish this dataset in the main index yet.">
      <span class='ui-button-icon-primary ui-icon ui-icon-alert'></span>
      <span class='ui-button-text'>GoTo</span>
     </button>
     <img src='/media/css/img/{{ ds.indexed }}.png' title='Indexed status: {{ ds.indexed }}'/>
     {%endif%}{%endif%}
    </div> <!-- DSLine -->
   {% endfor %}	 
  </div><!--geo_ds_list-->
  <button type='button' onclick="addDS()" id='addDS'>{% csrf_token %}
  Add Dataset
  </button>
  <div id='DSdialog'>
   <textarea type='text' id='DSin'></textarea>
  </div><!--DSdialog -->
  <div id='DSrmDialog'>
  </div><!--DSrmDialog-->
 </div> <!--geo_left_panel-->
 <div id='GPLlist'>
  {% for gpl in platforms %}
   <div class='GPLitem'>
    <div class='GPLused'>{{gpl.used}}</div>
    <div class='GPLid'>{{gpl.platform_id}}</div>
    <div class='GPLlongName'>{{gpl.name}}</div>
   </div><!--GPLitem-->
  {% endfor %}
 </div><!--GPLlist-->
{% endblock %}
