{% extends 'base.html' %}

 {% block extahead %}
  <script type="text/javascript" src="/media/js/lib/underscore-min.js"></script>
  <script type="text/javascript" src="/media/js/lib/json2.js"></script>
  <link type="text/css" rel="stylesheet" href="/media/css/geo.css" />
  <script type="text/javascript" src="/media/js/geo_view.js"></script>
  <script type="text/javascript">
   history.navigationMode = 'compatible';
   doAfter = function(time, f) {
     setTimeout(f, time);
   };
   gsmsXML = '';
   currentAnnot = '';
   $(document).ready(function() {
    $('#contents').css('display', 'none');
    doAfter(50,function () {
     view("{{dictionary.dataset_id}}");
    });
    $('#contents').fadeIn(600);
   });
  </script>
 {% endblock %}

{% block title %}
 View/Analyze {{dictionary.dataset_id}}
{% endblock %}

 {% block nav-home %}
 <a id='nav-home' class='selected' href="/">Home</a>
 {% endblock %}

{% block contents %}
<form id='csv_form' method='post' action='/exportCSV/'>{% csrf_token %}
    <input type='hidden' id='csv_download' name='csv_download' value=''/>
    <input type='hidden' id='file_name' name='file_name' value=''/>
</form>

<form id='download_image' method='post' action='/exportIMG/'>{% csrf_token %}
 <input type='hidden' id='img_name' name='img_name' value=''/>
</form>

<div id='meta_info' class='ui-corner-all ui-state-highlight'>
 <p>
  Dataset  <a title="Go to the NCBI GEO page" href="http://www.ncbi.nlm.nih.gov/projects/geo/query/acc.cgi?acc={{dictionary.dataset_id}}" target="_blank"><strong>{{dictionary.dataset_id}}</strong></a>, disease: <strong>{{metainfo.disease}}</strong> pulblished in <strong>{{metainfo.released}}</strong>;
  Avaliable data: <input type='image' id='viewDict' src='/media/css/img/table.png' title='Display the available data for this dataset'/>
</p>
</div><!--meta_info-->

<div class='ui-corner-all ui-state-highlight helpline'>
 <span class='blue_point left'>1</span>
 <p>
  Select the platform (in case multiple platform are available). Then you have to select one probe. In order to do that you can select your favourite annotation and look up for an unique probe identifier.
 </p>
</div><!--helpline-->

<div id='viewer_head' class='ui-corner-all ui-widget-content'>
 <div id='choose_plat' class='ui-round-all'>
  {%for p in platforms%}
   <li>
    <a href='#' title='{{p.name}}'>{{p.platform_id}}<div id='samples_{{p.platform_id}}' class='n_samples' title='number of samples'>0</div></a>
  </li>
  {%endfor%}
 </div><!--choose_plat-->
 <div id='choose_gene'>
  <select id='annot_column' class='ui-widget-content ui-corner-all'>
  </select><!--annot_column-->
  <input type='text' id='gene_id' title='Insert the gene identifier'/>
  <div id='selected_chip'>Select a Microarray platfom to use</div>
 </div><!--choose_gene-->
 <div id='unique_probe'>
 </div> 
</div><!--viewer_head-->
<div class='ui-corner-all ui-state-highlight helpline'>
 <span class='blue_point left'>2</span>
 <p>
  Choose the analysis to perform and eventually change the options or parameters according to your needs. Then push the plot button in order to get the desired results.
 </p>
</div><!--helpline-->

<div id ='viewerButtons' class='ui-corner-all ui-widget-content'>
 <div id='choose_analysis' class='ui-corner-all'>
  <select id='analysis_menu' class='ui-widget-content ui-corner-all'>
  </select>
 </div><!--choose_analysis-->
 <button type='button' id='do_analysis' title='Get results for selected gene'>Drow plots</button>
</div><!--viewerButtons-->

<div class='ui-corner-all ui-state-highlight helpline'>
 <span class='blue_point left'>3</span>
 <p>
  Once the plot button have been pushed the desired graphs will be displayed below. If you need you can save the results as PNG image to your computer.
 </p>
</div><!--helpline-->

<div id='results_viewer' class='ui-corner-all'>

</div><!--results_viewer-->

<div id ='dictTable'>
 <div id='dict_table'>
  <div class='tab_row'>
   <div class='cellTitle' title='GSM''>GSM</div>
   {%for key, value in dictionary.items%}
      {%if key != 'dataset_id' and key != 'id' %}
         {%if value%}
         <div class='cellTitle' title='{{value}}'>{{key}}</div>
         {%endif%}
      {%endif%}
   {%endfor%}
  </div>
 </div><!--dict_table-->
</div> <!--dictTable-->

<div id ='selctorTable'>
 <div id='group_table'>

 </div><!--dict_table-->
</div> <!--dictTable-->


{% endblock %}
