{% extends 'base.html' %}

 {% block extahead %}
  <script type="text/javascript" src="/media/js/lib/underscore-min.js"></script>
  <script type="text/javascript" src="/media/js/lib/json2.js"></script>
  <link type="text/css" rel="stylesheet" href="/media/css/geo.css" />
  <script type="text/javascript" src="/media/js/geo_view.js"></script>
  <script type="text/javascript">
   history.navigationMode = 'compatible';
   doAfter = function(time, f) {
     setTimeout(f, time);
   };

   $(document).ready(function() {
    $('#contents').css('display', 'none');
    doAfter(50,function () {
     view("{{dictionary.dataset_id}}");
    });
    $('#contents').fadeIn(600);
   });
  </script>
 {% endblock %}

{% block title %}
 View/Analyze {{dictionary.dataset_id}}
{% endblock %}

 {% block nav-home %}
 <a id='nav-home' class='selected' href="/">Home</a>
 {% endblock %}

{% block contents %}
<form id='csv_form' method='post' action='/exportCSV/'>{% csrf_token %}
    <input type='hidden' id='csv_download' name='csv_download' value=''/>
    <input type='hidden' id='file_name' name='file_name' value=''/>
</form>

<div id='viewer_head'>
 <div id='choose_plat' class='ui-round-all'>
  {%for p in platforms%}
   <li>
    <a href='#' title='{{p.name}}'>{{p.platform_id}}<div id='samples_{{p.platform_id}}' class='n_samples' title='number of samples'>0</div></a>
  </li>
  {%endfor%}
 </div><!--choose_plat-->
 <div id='choose_gene'>
  <div id='annot_column' class='ui-widget-content ui-corner-all'>
  </div><!--annot_column-->
  <input type='text' id='gene_id' title='Insert the gene identifier'/>
  <div id='selected_chip'>Select a Microarray platfom to use</div>
 </div><!--choose_gene-->
</div><!--viewer_head-->
 <div id ='viewerButtons'>
  <input type='image' id='viewDict' src='/media/css/img/table.png' title='Display available data for dataset'/>
  <div id='GEOview' class='ui-corner-all'>View dataset on <a href="http://www.ncbi.nlm.nih.gov/projects/geo/query/acc.cgi?acc={{dictionary.dataset_id}}" target="_blank" >GEO</a></div>
  <div id='choose_analysis' class='ui-corner-all'>
  </div><!--choose_analysis-->
  <button type='button' id='do_analysis' title='Get results for selected gene'>Do it</button>
 </div><!--viewerButtons-->
<div id='results_viewer' class='ui-corner-all'>

</div><!--results_viewer-->

<div id ='dictTable'>
 <div id='dict_table'>
  <div class='tab_row'>
   <div class='cellTitle' title='GSM''>GSM</div>
   {%for key, value in dictionary.items%}
      {%if key != 'dataset_id' and key != 'id' %}
         {%if value%}
         <div class='cellTitle' title='{{value}}'>{{key}}</div>
         {%endif%}
      {%endif%}
   {%endfor%}
  </div>
 </div><!--dict_table-->
</div> <!--dictTable-->

{% endblock %}
